[Desktop Entry]
Type=Application
Version=2.0.0(beta)
Name=USB Paranoiac
GenericName=USB Threat Scanning Tool
Comment=Linux üzerinden USB aygıtlarını tarayarak Windows sistemlerini korur.
Exec=python3 /usr/share/USBParanoiac/USBParanoiac.py
Icon=secure
Terminal=false
Categories=Utility;Security;System;
StartupNotify=true
